.app {
	&__rowmovie {
		margin-top: 100px;

		&-top {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			gap: 10px;

			&__title {
				display: flex;
				gap: 5px;
				align-items: center;

				img {
					width: 40px;
				}
				@media (max-width: 460px) {
					img {
						width: 35px;
					}

					h1 {
						font-size: 24px;
					}
				}
				@media (max-width: 375px) {
					h1 {
						font-size: 20px;
					}
				}
			}

			.hr {
				width: 100%;
				height: 2px;
				background-color: rgba(80, 74, 121, 0.5);
			}
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-lists {
			display: grid;
			gap: 30px;
			margin-top: 50px;
			row-gap: 50px;

			grid-template-columns: repeat(5, 1fr);

			@media (max-width: 1400px) {
				grid-template-columns: repeat(4, 1fr);
			}

			@media (max-width: 1024px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media (max-width: 820px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&-loadmore {
			display: flex;
			justify-content: center;
			margin-top: 50px;

			@media (max-width: 576px) {
				button {
					font-size: 12px;
					height: 35px;
				}
			}
		}

		@media (max-width: 1024px) {
			margin-top: 50px;
		}
	}
}
